
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
    font-family: sans-serif ,;
}
/* reuseble code */
.btn{
    font-size: 2rem;
    padding: 1rem 2.4rem;
    background-color: #3e74c7;
    color: #fff;
    margin-top: 2.2rem;
    border-radius: 11px;
    text-decoration: none;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #a0b6d6;
    color: #333;
}
.grid{
    display: grid;
}
.grid-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 1.4rem;
}
:link{
    list-style: none;
    text-decoration: none;
}
/* ***********section dropdown ***********/

.fa-solid{
    color: #ce1141;
    font-size: 2.6rem;
    cursor: pointer;
    display: none;
    
}
header{
    border-bottom: 1px solid green;
}
.drop-down-container{
   position: relative;
   display: none;
}
@media(max-width:768px){
    .fa-solid{
        display: block;
    }
    .nav{
        display: none;
    }
    .drop-down-container{
   position: relative;
   display: block;
    z-index: 999;
}


}
.drop-down{
      display: flex;
      display: none;
      flex-direction: column;
      background-color: #0f3f3f;
      color: white;
      padding: 2rem;
      justify-content: center;
      align-items: center;
      letter-spacing: 3px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border: none;
      position: absolute;
      right: -1.4rem;
      top: 3rem;
      height: 300px;

}
.drop-down li a{
    background-color: #072e2e;
    border-radius: 11px;
    padding: 1.6rem;
    list-style: none;
    color: #fff;
    font-size: 1.6rem;

}
.drop-down li a:hover{
    color: #000;
    background-color: #fff;
}

.drop-down li{
    list-style: none;
    margin-top: 4rem;

}
/* section-header */
header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #161616;
    padding: 2rem 4.4rem;
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: antiquewhite;
}

header h1 span{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 7rem;
}

header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header nav ul li {
    margin-left: 2.8rem;
    font-size: 1.8rem;
    font-weight: 600;
}
header nav ul li a{
    color: aqua;
    text-decoration: none;
    transition: all 0.3s;
}
header nav ul li a:hover{
    color: rgb(180, 221, 219);

}
    header h1 span{
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 0.5rem;
    }
    header nav ul li {
        display: flex;
        gap: -1rem;
        margin-left: 1rem;
        font-size: 1.8rem;
        font-weight: 600;
    }
    header{
        padding: 1rem 2rem;
    }
    h1{
        font-size: 1.5rem;
        font-weight: 500;
        color: antiquewhite;
    }

/* section-hero */
.section-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    padding: 2rem;
    height: 100vh;  

}

.hero-container{
    display: flex;
    justify-content:center ;
    align-items: center;
    color: #fff;
    margin: 0 22rem;
     gap: 3rem;
     margin-top: -11rem;

}
@media(max-width:1200px){
    .hero-container{
        margin:0 6rem;
    }
}
@media(max-width:825px){
    .hero-container{
        margin:0 2rem;
    }
    .hero-container{
        display: flex;
        flex-direction: column-reverse;
        gap: .5rem;
    }
    
    html{
        font-size: 60%;
    }
    
    .hero-image{
        width: 60%;
        height: 60%;
    }
    .button-social-icon{
        flex-shrink: 0;
    }
    
    
}
@media(max-width:525px){
    .hero-container{
        display: flex;
        flex-direction: column-reverse;
        gap: .5rem;
    }
    .hero-image{
        width: 70%;
        height: 70%;
    }
    html{
        font-size: 50%;
    }
    
    
}

.hero-image{
 mix-blend-mode: difference;
 border-radius: 50%;


}
.hero-footer{
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.hero-footer .brand{
       font-size: 2.4rem;
       color: #fff;
       margin-top: 2rem;
    
}
.brand:hover{
    transition: all .5s;
    transform: rotate(360deg);
}
.heading-1{
    
    font-size: 3rem;
    color: red;
    letter-spacing: 1.8px;
}
.heading-2 {
  
  font-size: 2.3rem;
  word-spacing: 1.8px;
}
.button-social-icon{
     display: flex;
     flex-direction: column;
     gap: 2rem;
}
.heading-3{
   font-size: 1.8rem;
   line-height: 1.4;

}
#dynamicText{
    color: #e92254;
}



/* section-about */
.section-about{
    margin: 4.2rem ;
    background-color: #fcfafd;

}
.container{
    margin: 9.2rem;
}
.container h2{
    display: inline-block;
    font-size: 3.2rem;
    color:#6f3710 ;

}
.about-text{
      
      padding: 4rem;
}
.para-text{
    font-size: 1.8rem;
    color: #0f0808;
    line-height: 1.5;
    letter-spacing: .8px;
}
.about-image img{
    
    width: 70%;
}
.btn-1 {
    margin-top: 3.6rem;
    display: flex;
    gap: 1rem;
}
@media(max-width:1067px){
    
    .about-image img{
    
        width: 60%;
    }
    .para-text{
        font-size: 1.6rem;
        color: #0f0808;
        line-height: 1;
        letter-spacing: .8px;
    }
    .btn-1 {
        margin-top: 2.6rem;
        display: flex;
        gap: 1rem;
    }
}
@media(max-width: 1000px){

    .para-text{
        font-size: 1.2rem;
        color: #0f0808;
        line-height: 1.2;
        letter-spacing: .4px;
    }
    .btn-1 {
        margin-top: 1.6rem;
        display: flex;
        gap: 1rem;
    }
}
@media(max-width:800px){
    
    .grid-col-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .section-about{
        margin: 2.2rem ;
        background-color: #fcfafd;
    
    }
    .container{
        margin: 2rem;
    }
}
/* SECTION MY SKILL */
.myskill{
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
}
.myskils{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 4rem;
}
.myskill-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 2rem;
justify-content: center;
margin-left: 12rem;
}

.myskill-container h4{
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
    height: 20rem;
    width: 30rem;
    border-radius: 10px;
    padding: 2rem 4rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all .8s linear 500ms;
}
.myskill-container h4:hover{
    transform:translate(-1rem,-1rem);
}
h4 .icons-font{
    margin-right: 1rem;
}

@media(max-width:800px){
    .myskill-container h4{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
        height: 15rem;
        width: 20rem;
        border-radius: 10px;
        padding: 1.6rem 3.2rem;
    }
    .myskill-container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 0.5rem;
        justify-content: center;
        margin-right: -1rem;
        }
}
/* project section start */
.our-project{
    margin: 9rem;
}
.our-project h1{
    font-size: 4rem;
    font-weight: bolder;
    color: #800725;
    text-align: center;
    text-decoration: underline solid red 6px;
}


.project-about{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
}
.our-project p{
    font-size: 2.4rem;
    margin: 6rem;
    text-align: center;
}
.project-about p{
    font-size: 2.3rem;
}
.project-image{
    height: 40rem;
    width: 60rem;
}
.project-about p{
    display: flex;
    flex-direction: column;
}
.project-about p:link{
    margin-top: 1.5rem;
}
@media(max-width:920px){
    
    .project-about p{
        font-size: 10px;
    }
    .project-about{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin-top: 3rem;
    }
    .project-image{
        display: flex;
        flex-grow: 1;
        height: 20rem;
        width: 30rem;
    }
    .our-project p{
        font-size: 2rem;
        margin: 6rem;
        text-align: center;
        display: flex;
        flex-grow:1;
    }
   .our-project{
           margin: 0;
    }
}
/* form secrion start */
 .form{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
 }
 .form-header{
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: .2rem;
    word-spacing: .8rem;
   
 }
 .form-para{
    font-size: 1.8rem;
    margin-bottom: 4rem;
    
 }

 .section-form{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    background-color: #e0f7fa;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
 }

 input{
    display:block;
    width: 28rem;
    height: 3.6rem;
    border-radius: 10px;
 }
 textarea{
    width: 28rem;
    height: 8.4rem;
 }
 label{
    font-size: 1.6rem;
 }
 
/* section-footer */
.section-footer header {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 1.2rem 4.4rem;
    

}
.section-footer header h5{
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}
.section-footer header nav ul{
    display: flex;
    margin-left: 1.2rem;
}
.icons{
    display: block;
    text-align: center;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    /* background-color: #555;
    color: #fff; */
    border-radius: 50%;
    transition: all 0.3s;
}
.icons:hover{
    transform: rotate(180deg);
}
.facebook{
    background-color:#fff ;
    color: #422d87;
}

.instagram{
    background-color: #ce1141;
    color: #fff;
}
.youtube{
    background-color: red;
    color: #fff;
}
.twitter{
    background-color: #fff;
    color: #3e74c7;
}
.grid-col-3{
    background-color: #f1f1f1;
    color: #000;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2.2rem 4,4rem;

}
.about-courses ul li{
    list-style: none;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.2;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content h6{
    font-size: 1.2rem;
}
@media(max-width:800px){
    .about-courses ul li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.1;
}
}